[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "vim/bundle/jade"]
	path = vim/bundle/jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/stylus"]
	path = vim/bundle/stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
