[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-rooter"]
	path = vim/bundle/vim-rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "vim/bundle/vim-ack"]
	path = vim/bundle/vim-ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/vimerl"]
	path = vim/bundle/vimerl
	url = https://github.com/oscarh/vimerl.git
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/repl.vim"]
	path = vim/bundle/repl.vim
	url = https://github.com/mrdaemon/repl.vim.git
[submodule "vim/bundle/quickrun"]
	path = vim/bundle/quickrun
	url = https://github.com/ujihisa/quickrun.git
[submodule "vim/bundle/vimshell"]
	path = vim/bundle/vimshell
	url = https://github.com/Shougo/vimshell.git
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
